<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Profil</title>
</head>
<body>

<div class="resume">
   <div class="resume_left">
     <div class="resume_profile">
       <img src={{freelancer.image}} alt="profile_pic">
     </div>
     <div class="resume_content">
       <div class="resume_item resume_info">
         <div class="title">
           <p class="bold">nom complet: {{freelancer.nom}}{{freelancer.prenom}}</p>
           <p class="regular">specialité:{{freelancer.specialite}}</p>
         </div>
         <ul>
           <li>
             <div class="icon">
               <i class="fas fa-map-signs"></i>
             </div>
             <div class="data">
               adresse{{adresse}}<br /> pays{{pays}}
             </div>
           </li>
           <li>
             <div class="icon">
               <i class="fas fa-mobile-alt"></i>
             </div>
             <div class="data">
              numero tel{{freelancer.tel}}
            </div>
           </li>
           <li>
            <div class="icon">
            </div>
            <div class="data">
             date naissance{{freelancer.dateN}}
           </div>
          </li>
          <li>
            <div class="icon">
            </div>
            <div class="data">
             sexe{{freelancer.genre}}
           </div>
          </li>
           <li>
             <div class="icon">
               <i class="fas fa-envelope"></i>
             </div>
             <div class="data">
               email {{freelancer.mail}}
             </div>
           </li>
           
         </ul>
       </div>
     </div>
  </div>

  
  <div class="resume_right">
    <div class="resume_item resume_about">
        <div class="title">
           <p class="bold">About</p>
         </div>
         <div class="info">
        <p>about text...{{about}}</p>
        </div>
    </div>


    <div class="resume_item resume_work">
        <div class="title">
           <p class="bold">skill's</p>
         </div>
        <ul>
            <li>
                <div class="info">
                  <p>cv txt...{{freelancer.CV}}</p>
                </div>
            </li>
            
        </ul>
    </div>


    <div class="resume_item resume_education">
      <div class="title">
           <p class="bold">Gestion compte</p>
      </div>
      
      <button type="submit" class="submitButton" (click)="edit()">Modifier</button>
        
    </div>
    
  </div>
</div>

</body>
</html>